[Desktop Entry]
Type=Application
Name=Sunshine X11 Environment Importer
Exec=sh -c "systemctl --user import-environment DISPLAY XAUTHORITY && systemctl --user restart sunshine.service"
Terminal=false
Hidden=false
